// colors of the search box
$accentColor = #000000
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #222;
$arrowBgColor = #ccc
$secondaryColor = #c06c84
$navbarHeight = 5rem;
$headerHeight = 75vh;